.gradient {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-top: 15vh;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  transition: background-size 0.3s ease-in-out;
}
input{
  cursor:pointer;
}
@media (max-width: 320px) {


  h1 {
    font-size: 2rem;
    letter-spacing: 0.3em;
  }

  h3 {
    font-size: 0.9rem;
  }
}
